<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ personal_information.name }} - CV</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.4;
            margin: 0;
            padding: 20px;
            background-color: #f5f5f5;
            color: #333;
        }

        .container {
            max-width: 800px;
            margin: auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        .last-updated {
            position: absolute;
            top: 1px;
            right: 1px;
            font-size: 10px;
            color: #777;
            margin: 2px;
            padding: 2px;
        }

        .cv-name {
            font-size: 18px;
            font-weight: bold;
        }

        .cv-profile {
            font-size: 16px;
            font-weight: normal;
            margin-top: 10px;
        }

        .section {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 14px;
        }

        .section-header {
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
            border-bottom: 2px solid #ccc;
            padding-bottom: 5px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .subsection {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .subsection-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            font-weight: bold;
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 10px;
        }


        .list-item {
            margin-bottom: 5px;
        }

        a {
            color: #267CB9;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }


        @media print {
            body {
                font-family: Arial, sans-serif;
                line-height: 1.4;
                margin: 0;
                padding: 0;
                color: #333;
            }

            .container {
                max-width: 100%;
                margin: auto;
                padding: 20px;
                box-shadow: none;
            }

            .last-updated {
                display: none;
            }

            .cv-name {
                font-size: 18px;
                font-weight: bold;
            }

            .cv-profile {
                font-size: 16px;
                font-weight: normal;
                margin-top: 10px;
            }

            .section {
                margin-top: 30px;
                margin-bottom: 30px;
                font-size: 14px;
            }

            .section-header {
                font-weight: bold;
                font-size: 16px;
                text-transform: uppercase;
                border-bottom: 2px solid #ccc;
                padding-bottom: 5px;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            .subsection-header {
                font-weight: bold;
                font-size: 14px;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .list-item {
                margin-bottom: 5px;
            }

            a {
                color: #267CB9;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    </style>
</head>

<body>

    <div class="container">

        <p class="last-updated">
            Last Updated: {{last_updated }}
        </p>

        <div class="section">
            <div class="subsection">
                <div class="subsection-header">
                    <div>
                        <div class="cv-name">
                            {{ personal_information.name }}
                        </div>
                        <div class="cv-profile">
                            {{ personal_information.profile}}
                        </div>
                    </div>
                    <div>
                        <div>
                            {{ personal_information.location }}</div>
                        <div><a href="tel:{{ personal_information.phone }}">{{ personal_information.phone }}</a>
                        </div>
                        <div><a href="mailto:{{ personal_information.email }}">{{ personal_information.email }}</a>
                        </div>
                        <div><a href="{{ personal_information.github }}">{{ personal_information.github }}</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-header">Work Experience</div>
            {% for experience in work_experience %}
            <div class="subsection">
                <div class="subsection-header">
                    <div>{{ experience.company }}, {{ experience.location }}</div>
                </div>
                <div class="subsection-header">
                    <div style="font-style: italic; font-weight: normal;">{{ experience.description }}</div>
                </div>
            </div>
            {% for position in experience.positions %}
            <div class="subsection-header" style="color: #555">
                <div>{{ position.title }}</div>
                <div>{{ position.start_date }} - {{ position.end_date }}</div>
            </div>
            {% endfor %}
            <ul>
                {% for responsibility in experience.responsibilities %}
                <li class="list-item">{{ responsibility }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>

        <div class="section">
            <div class="section-header">Technical Skills</div>
            <ul>
                {% for key, value in tech_skills.items() %}
                <li class="list-item">{{ key | replace("_", " ") | capitalize }}: {{ ", ".join(value) }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="section">
            <div class="section-header">Education</div>
            {% for education_detail in education %}
            <div class="subsection">
                <div class="subsection-header">
                    <div>{{ education_detail.institution }}, {{ education_detail.location }}</div>
                </div>
                <div class="subsection-header" style="color: #555">
                    <div>{{ education_detail.degree }}</div>
                    <div>{{ education_detail.start_date }} - {{ education_detail.end_date }}</div>
                </div>
                <ul>
                    {% for detail in education_detail.details %}
                    {% if detail %}
                    <li class="list-item">{{ detail }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>


        {% if references %}
        <div class="section">
            <div class="section-header">References</div>
            <ul>
                {% for reference in references %}
                <li class="list-item">{{ reference.name }} - {{ reference.company }} ({{ reference.location }}) -
                    Contact No.: <a href="tel:{{ reference.phone }}">{{ reference.phone }}</a> - Email:
                    {% for email in reference.email %}
                    <a href="mailto:{{ email }}">{{ email }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {%endif%}
    </div>

</body>

</html>